{{!< default}}

{{> header}}

<main class="main_solo" role="main">
{{#foreach posts}}
  <article class="article_solo" role="article" itemscope itemtype="http://schema.org/Article">
    <header class="postheader_solo">
      <time class="date_solo" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format='dddd DD MMM YYYY'}}</time>
      <h1 class="posttitle_solo" itemprop="headline"><a href="{{{url}}}" rel="bookmark">{{title}}</a></h1>
</header>{{title}}
    </header
    <div class="postcontent_solo" itemprop="articleBody">
      {{content}}
    </div>
    {{#if tags}}
      <div class="posttags_solo">
      Tags: {{tags separator=" | "}}
      </div>
    {{/if}}
  </article>
{{/foreach}}

{{#if pagination}}
  <div class="pagination_solo">
  {{{pagination}}}
  </div>
{{/if}}
</main>

{{> footer}}